.hero-title {
  font-size: 4rem;
  line-height: 120%;
  font-weight: 200;
}

.hero-title {
  @apply text-left;
}

.hero-titlee {
  @apply font-bold;
  color: var(--primary-color);
  font-size: 320px;
  width: 100%;
  animation: scroll 40s linear infinite;
}

.hero-title > span {
  color: var(--primary-color);
  font-weight: 500;
}

@media screen and (max-width: 720px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

#home-hero {
  @apply flex flex-col py-8 px-8 xl:px-24;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #fff2ed, #fdfdfd);
}

#home-heroo {
  @apply flex flex-col p-0;
  min-height: 100vh;
  width: 100vw;
  background: #FAFAFA;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.hero-inner-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.hero-subheading {
  @apply px-0;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: none;
  text-align: center;
}
