@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../styles/navigation.css");
@import url("../styles/hero.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 253, 253, 253;
  --primary-color: #fb4e29;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 253, 253, 253;
    --background-start-rgb: 253, 253, 253;
    --background-end-rgb: 0, 0, 0;
  }
}

::selection {
  background: #000;
  color: var(--primary-color);
}

body {
  /* cursor: none; */
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  @apply flex flex-col justify-start items-center py-16 px-8 w-full bg-[#FAFAFA] max-w-[100vw];
  width: auto;
}

.lead {
  @apply w-full md:w-3/5;
  line-height: 150%;
  font-weight: 400;
}

.inner-container {
  @apply relative flex py-24 px-0;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  @apply text-3xl md:text-5xl font-semibold;
  @apply uppercase;
}

p {
  font-family: "Roboto", sans-serif;
}

h3 {
  @apply text-xl;
}

h6 {
  @apply text-lg font-bold;
}

button {
  cursor: pointer;
}

/* 
.scrolled {
  border-bottom: 1px solid #efebe0;
} */

.footer-links-container {
  @apply w-full flex flex-row items-center justify-between;
}

.button {
  @apply flex flex-row justify-center text-black font-normal py-3 px-6 rounded-xl w-full transition-all duration-150 ease-in-out;
  box-shadow: 2px 2px 2px 2px #00000077;
  border: 1px solid #000;
  cursor: pointer;
}

.button:hover {
  @apply text-black font-normal transition-all duration-150 ease-in-out;
  transform: translate(0.5px, 0.5px);
  box-shadow: 1px 1px 1px 1px #00000077;
  /* animation: fill 0.5s ease-in-out forwards; */
}

/* @keyframes fill {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #cae002;
  }
  100% {
    background-color: rgb(255, 173, 100);
  }
} */

.service-tab {
  @apply bg-transparent w-auto p-2 transition-all duration-300 ease-in-out;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgb(190, 183, 182, 0.5);
}

.service-tab > div {
  @apply max-w-screen-lg mx-auto;
}

.service-title {
  @apply transition-all duration-150 ease-in-out;
  -webkit-text-stroke-width: 4;
  -webkit-text-stroke-color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  font-variant: small-caps;
}

.service-number {
  @apply transition-all duration-150 ease-in-out;
  -webkit-text-stroke-width: 4;
  -webkit-text-stroke-color: #000;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 108px */
  font-variant: small-caps;
}

.service-tag {
  @apply capitalize transition-all duration-150 ease-in-out;
  font-size: 1rem;
  background-color: transparent;
}

.service-arrow {
  @apply transition-all duration-300 ease-in-out;
}

.service-image {
  @apply transition-all duration-300 ease-in-out;
  opacity: 1;
}

.service-tab:hover .service-image {
  @apply transition-all duration-300 ease-in-out;
  scale: 2;
  transform: translate(-20%, -20%);
  opacity: 1;
}

.service-tab:hover {
  @apply transition-all duration-300 ease-in-out;
}

.service-arrow-black {
  @apply transition-all duration-150 ease-in-out;
  display: block;
}

.service-arrow-white {
  @apply transition-all duration-150 ease-in-out;
  display: none;
}

.service-tab:hover .service-arrow-black {
  @apply dark:invert transition-all duration-150 ease-in-out;
  display: none;
}

.service-tab:hover .service-arrow-white {
  @apply dark:invert transition-all duration-150 ease-in-out;
  display: block;
}

.service-tab:hover .service-title {
  @apply transition-all duration-300 ease-in-out;
}

.service-tab:hover .service-number {
  @apply transition-all duration-300 ease-in-out;
}

.service-tab:hover .service-tag {
  backdrop-filter: blur(33px);
  background-blend-mode: overlay;
}

.footer-scroll-title {
  @apply font-bold;
  font-size: 320px;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.big-button {
  @apply font-normal py-4 px-16 rounded-xl w-full uppercase transition-all duration-150 ease-in-out;
  font-size: 120px;
  border: 4px solid #000;
  cursor: pointer;
}

.big-button:hover {
  @apply bg-black text-white uppercase transition-all duration-150 ease-in-out;
  font-size: 120px;
  border: 4px solid #000;
}

.big-button:disabled {
  @apply bg-gray-200 text-gray-500 uppercase transition-all duration-150 ease-in-out border-gray-200;
  font-size: 120px;
  border-width: 4px;
  border-style: solid;
}

.footer {
  @apply w-screen flex flex-col items-center pt-60;
}

.gradient {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  aspect-ratio: 1400/1440;
  background: url("/gradient.svg") bottom no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
}

#about .testimonial::before {
  @apply text-5xl font-bold;
  line-height: 200px;
}

#about .testimonial {
  @apply text-4xl font-semibold text-center px-4;
}

li a {
  text-decoration: none;
  cursor: pointer;
}

li a:hover {
  text-decoration: underline;
}

.primary {
  @apply flex flex-row items-center w-full justify-center font-medium py-3 px-4 rounded-xl transition-all duration-150 ease-in-out;
  /* width: 80px; */
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #fff;
  cursor: pointer;
  position: relative;
}

.outline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.outline:hover {
  @apply bg-[#100805] text-white transform scale-105;
}

.black {
  @apply bg-black text-white;
  border: 2px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.black:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.footer-primary {
  @apply !w-fit;
  background-color: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
}

.footer-secondary {
  @apply !w-fit;
  background-color: #fff !important;
  border: 2px solid #fff !important;
  color: #43140b !important;
}

.footer-primary:hover {
  @apply !w-fit;
  background-color: #fff !important;
  border: 2px solid #fff !important;
  color: #43140b !important;
}

.footer-secondary:hover {
  @apply !w-fit !bg-[#FB7429];
  border: 2px solid #fb7429 !important;
  color: #fff !important;
}

.navigation {
  @apply !py-3 !px-4;
}

.secondary {
  @apply flex flex-row justify-center bg-transparent text-[#FB4E29] font-bold py-3 px-4 rounded-xl w-full transition-all duration-150 ease-in-out;
  border: 2px solid #fb4e29;
  cursor: pointer;
}

.secondary:hover {
  @apply bg-[#FB4E29] rounded-xl w-full transition-all duration-150 ease-in-out;
  /* width: 80px; */
  border-color: #fb4e29;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.primary:hover {
  @apply bg-[#FB7429] rounded-xl w-full transition-all duration-150 ease-in-out;
  /* width: 80px; */
  border-color: #fb7429;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.primary span {
  display: inline-block;
  margin: 0;
}

button .button-text-container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.button-text-container span:last-child {
  position: absolute;
  top: 100%;
  left: 0;
}

button .button-text-container span {
  /* transform: translateY(calc(-100%)); */
  transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.42, 0.84);
}

button:hover .button-text-container span {
  transform: translateY(calc(-100%));
  transition: transform 0.5s ease-in-out;
}

/* HERO PRIMARY BUTTON */

.hero-primary-btn {
  @apply bg-white text-black font-normal py-4 px-8 rounded-full w-full uppercase transition-all duration-150 ease-in-out;
  box-shadow: 2px 2px 2px 2px #00000077;
  border: 1px solid #fff;
  cursor: pointer;
}

.hero-primary-btn .hero-primary-text-container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.hero-primary-text-container span:last-child {
  position: absolute;
  top: 100%;
  left: 0;
}

.hero-primary-btn .hero-primary-text-container span {
  /* transform: translateY(calc(-100%)); */
  transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.42, 0.84);
}

.hero-primary-btn:hover .hero-primary-text-container span {
  transform: translateY(calc(-100%));
  transition: transform 0.5s ease-in-out;
}

/* HERO PRIMARY BUTTON END */

.hamburger-container {
  @apply flex flex-col absolute right-0 top-0 items-end justify-center transition-all duration-150 ease-in-out;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 16px 16px;
  mix-blend-mode: difference;
}

.cursor {
  @apply transition-all ease-in-out;
  transition-duration: 0ms;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: #fff;
  transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: fixed;
  pointer-events: none;
  left: 40px;
  top: 40px;
  mix-blend-mode: exclusion;
  z-index: 999;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

.slider-container {
  @apply gap-8;
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow-x: hidden;
  justify-content: flex-start;
}

.slider {
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bouncing-arrow {
  @apply px-2 pb-2 pt-12 bg-black rounded-full;
  animation: bounce 2s infinite forwards;
}

#works-cursor-button {
  @apply px-8 py-2 text-black w-max rounded-full backdrop-blur-lg fixed transition-all ease-in-out hidden;
  transition-duration: 0ms;
  background-color: white;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0%);
  }
}

.secondary-btn {
  @apply bg-black text-white font-normal py-4 px-8 rounded-full w-full uppercase transition-all duration-150 ease-in-out;
  box-shadow: 2px 2px 2px 2px #00000077;
  border: 1px solid #fff;
  cursor: pointer;
}

.secondary-btn:hover {
  @apply font-normal rounded-full  transition-all duration-150 ease-in-out;
  border: 1px solid #fff;
  text-decoration: none;
  cursor: pointer;
  /* transform: translate(0px, 2px); */
}

.secondary-btn span {
  color: #fff;
  display: inline-block;
  margin: 0;
}

.secondary-btn .button-text-container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.secondary-btn .button-text-container span {
  /* transform: translateY(calc(-100%)); */
  transform: translateY(-100%);
  transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.42, 0.84);
}

.secondary-btn:hover .button-text-container span {
  transform: translateY(calc(0%));
  transition: transform 0.5s ease-in-out;
}

.parallax {
  background-color: #000;
  background: url("/public/starry-bg.png") repeat fixed 100%;
  height: 100vh;
  width: 100vw;
}

.dark-gradient {
  background: linear-gradient(
    178deg,
    #000 20.45%,
    #4a0ec8 59.18%,
    #e8e4ff 77.84%,
    #fff 94.64%
  );
}

/* Mobile Responsive Styles */
@media screen and (max-width: 720px) {
  .cursor {
    @apply hidden;
  }

  .hero-title {
    @apply z-0 text-4xl;
    padding: 0 0rem 0 0;
  }

  .hero-image {
    /* @apply hidden; */
  }

  .footer-links-container {
    @apply flex-col;
  }

  .big-button {
    @apply px-4;
    font-size: 40px;
    border: 4px solid #000;
    cursor: pointer;
  }

  .big-button:hover {
    @apply bg-black text-white uppercase transition-all duration-150 ease-in-out;
    font-size: 40px;
    border: 4px solid #000;
  }

  #about .testimonial {
    @apply text-2xl font-bold text-center px-4;
  }

  #steps {
    @apply flex-col;
  }

  .service-title {
    font-size: 40px;
    line-height: 100%;
  }

  .service-number {
    font-size: 40px;
    line-height: 100%;
  }

  .service-tag {
    @apply py-1 uppercase text-sm transition-all duration-150 ease-in-out;
    text-wrap: nowrap;
  }
}

.project-preview:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mobile-background {
  background-size: cover;
  background-position: center;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  background-attachment: scroll;
}

.home-font {
  font-family: "Albert Sans", sans-serif !important;
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-onest);
  font-style: normal !important;
}

p,
span,
a,
li,
button,
input,
textarea,
select {
  font-style: normal !important;
}

.sticky-parent {
  @apply h-auto lg:h-[400vh];
}

.horizontal {
  display: flex;
}

.pill {
  @apply px-3 py-2 text-[#FAFAFA] rounded-full flex flex-row items-center justify-center text-sm gap-1;
  background-color: #fb4e29;
}
